<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
		<div class="box">
			<div class="avatar">
				<img src="/avatar.jpg">
			</div>
				<h2>Register</h2>
				<form action="/register" method="post">
					<div class="inputBox">
						<input type="text" name="username" required onkeyup="this.setAttribute('value', this.value);"  value="">
						<label>Username</label>
						</div>
					<div class="inputBox">
					<input type="email" name="email" required onkeyup="this.setAttribute('value', this.value);"  value="">
					<label>Email</label>
					</div>
					<div class="inputBox">
						<input type="password" name="password" required onkeyup="this.setAttribute('value', this.value);" value="">
						<label>Password</label>
						</div>
					<button type="submit" name="register" value=<%= redirect %>>Register</button>
				</form>
				</div>
</body>
</html>